<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css?4">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='https://unpkg.com/vue-router/dist/vue-router.js'></script>
  <title>Расписание занятий</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96166542-2"></script>

  <link rel="manifest" href="manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" sizes="192x192" href="logo.png">
  <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="logo.png">
  <link rel="icon" type="image/png" sizes="512x512" href="logo512.png">
  <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="logo512.png">
  <meta name="theme-color" content="#9080de"/>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-96166542-2');
</script>
<script>
if ('serviceWorker' in navigator) {
 window.addEventListener('load', function() {
   navigator.serviceWorker.register('/schedule/sw.js').then(
     function(registration) {
       // Registration was successful
       console.log('ServiceWorker registration successful with scope: ', registration.scope); },
     function(err) {
       // registration failed :(
       console.log('ServiceWorker registration failed: ', err);
     });
 });
}
</script>
</head>
<body >
  <div id='app'>
  <header>

    <select class="group" name="" >
      <option>ИН-171</option>
    </select>

    <select class="subGroup" v-model='subGroup'>
      <option value='subGroup1'>Подгруппа 1</option>
      <option value='subGroup2'>Подгруппа 2</option>
    </select>

    <div class='date'>{{ date }}</div>
    <select class="parity" v-model='parity'>
      <option value='numerator'>Числитель</option>
      <option value='denominator'>Знаменатель</option>
    </select>
    <div class='timer'>{{ timer }}</div>
  </header>
  <main>

    <div class='block' v-for="day in schedule" :id='day.id' v-bind:key='day.id'>
      <h1>{{ day.name }}</h1>

      <ol>
        <li v-for='(subject, index) in day.classes'  class='subject'>
          <span class='subject__time' >{{ timing[day.id][index][0]+' '+timing[day.id][index][1] }}</span>
          <div class="subject__container">
            <span class='subject__name'>{{ subject.name }}</span>
            <span class='subject__type'>{{ subject.type }}</span>
          </div>
          <span class='subject__room'>{{ subject.room }}</span>
        </li>
        <div class='subject no-classes' v-if='day.classes < 1'>Занятий нет</div>
      </ol>
    </div>
  </main>
  <a class='author' href='https://vk.com/psy667'>by Arseniy Oguzov</a>
</div>
  <script src='script.js'></script>
</body>
</html>
